#course {
    background: linear-gradient(180deg, rgba(23, 26, 35, 2) 0%, #171A23 100%);
    min-height: 150vh;
    position: relative;
}

.classes {
    position: absolute;
    margin-top: -200px;
}

.rectangle0 {
    width: 340px;
}

.rename {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
}

.name {
    font-family: RoadRadio, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.manes {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
}

.ton {
    width: 140px;
    height: 50px;
    background: linear-gradient(90deg, #F5318D 0%, #FF5F41 96.67%);
    border-radius: 6px;
    border: none;
    font-family: RoadRadio, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;

}

.ton-one {
    width: 140px;
    height: 50px;
    border: 1px solid #27D1CE;
    border-radius: 6px;
    background: transparent;
    font-family: RoadRadio, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #27D1CE;
    margin-left: 50px;
}

.blockes-two {
    margin: 0 15px;
}

.names-two {
    width: 340px;
    height: 436px;
    background: linear-gradient(90deg, #F5318D 0%, #FF5F41 96.67%);
    border-radius: 6px;
    margin-left: 15px;
}

.euo {
    font-family: RoadRadio;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.pro {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.inputs {
    width: 279px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: inset 0 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    outline: none;
    border: none;
    margin-left: 30px;
    margin-bottom: 30px;
    font-family: Gilroy sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #BCBCBC;

}

.but-two-one{
    width: 279px;
    height: 65px;
    background: #27D1CE;
    border-radius: 10px;
    border: none;
    font-family: RoadRadio;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.095em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 30px;
    margin-bottom: 30px;
}

.sideshow{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.words-one{
    width: 100%;
    height: 33px;
    background: linear-gradient(90deg, #F5318D 0%, #FF5F41 49.27%, #EF9F30 100%);
    position: absolute;
    margin-top: 880px;
}